@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
@import "{wolves:bitters}/base";
@import "{}/client/styles/imports/_nav.scss";
@import "{}/client/styles/imports/_footer.scss";
@import "{}/client/styles/imports/home.scss";
@import "{}/client/styles/imports/hero.scss";

//Main-layout Styles
/*Main-Layout Styles*/
.wrapper-for-content-outside-of-footer{
  @include outer-container;
}
